<component name="ArtifactManager">
  <artifact type="war" name="Mybatis_HeiMa_2018_Day03_03_JNDI:war">
    <output-path>$PROJECT_DIR$/Mybatis_HeiMa_2018_Day03_03_JNDI/target</output-path>
    <root id="archive" name="Mybatis_HeiMa_2018_Day03_03_JNDI.war">
      <element id="artifact" artifact-name="Mybatis_HeiMa_2018_Day03_03_JNDI:war exploded" />
    </root>
  </artifact>
</component>